# Monad: 10143 = Monad Testnet, 31337 = anvil local
NEXT_PUBLIC_CHAIN_ID=10143
NEXT_PUBLIC_MONAD_RPC_URL=https://testnet-rpc.monad.xyz
# Dirección del contrato InstallmentRegistry desplegado
NEXT_PUBLIC_REGISTRY_ADDRESS=0xF7a6e0f226ecDc708Af88679F2A9a557E918C321
